
<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Experiment Detail Editor</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form *ngIf="experiment" [formGroup]="form">
    <div class="form-group form-row">
      <label class="col-4 col-form-label">Title</label>
      <div class="col-8">
        <input class="form-control-plaintext" formControlName="name">
      </div>
    </div>

  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close(form.value)">Save</button>
</div>

