<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Ex//P - Your Experiment Planner</a>
  <div id="navbarSupportedContent">
    <span class="mr-2">
      <button type="button" class="btn btn-outline-light text-light">Export Experiment</button>
    </span>
    <span>
      <button type="button" class="btn btn-outline-light text-light">Create New Experiment</button>
    </span>
  </div>
</nav>

<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <app-exp-loader></app-exp-loader>
    </div>
  </div>
</div>

<div class="container mt-4">
  <app-experiment></app-experiment>
</div>
