<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Ex//P - Your Experiment Planner</a>
  <div id="navbarSupportedContent">
    <span class="mr-2" *ngIf="expObs | async; let exp">
      <button type="button" class="btn btn-outline-light" (click)="exportExperiment(exp)">Export Experiment</button>
    </span>
    <span>
      <button type="button" class="btn btn-outline-light" (click)="clearExperiment()">Create New Experiment</button>
    </span>
  </div>
</nav>

<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <app-exp-loader (file)="typingJson($event)"></app-exp-loader>
    </div>
  </div>
</div>

<div class="container mt-4" *ngIf="expObs | async; let exp">
  <app-experiment [experiment]="exp" [printMode]="false"></app-experiment>
</div>
